#kc-metabox-settings_page_kc-settings-kc_ml h4 {margin:0 0 .75em}
#kc-metabox-settings_page_kc-settings-kc_ml .field {margin-bottom:2em}
#kc-metabox-settings_page_kc-settings-kc_ml li {margin-bottom:.15em}
#kc-metabox-settings_page_kc-settings-kc_ml label.fw {
	display:inline-block;
	min-width:130px;
}
#kc-metabox-settings_page_kc-settings-kc_ml span.description {margin-left:1em}

#kc-metabox-post-kcml th {display:none;}
.kcml-wrap .field {margin-bottom:12px}
ul.kcml-langs {
	display:inline-block;
	margin:0 0 .5em;
}
ul.kcml-langs li {
	display:inline;
	white-space:nowrap;
	border-right:1px solid #DFDFDF;
	margin-right:7px;
	padding-right:10px;
}
ul.kcml-langs li:last-child,
.widgets-sortables ul.kcml-langs li {
	border:0;
}
.widgets-sortables ul.kcml-langs {display:block;}
.widgets-sortables ul.kcml-langs li {
	display:block;
	padding-left:1em;
	text-indent:-1em;
	white-space:normal;
}
.widgets-sortables ul.kcml-langs li:before {
	content:'\00bb\00a0';
}

ul.kcml-langs a {text-decoration:none}
ul.kcml-langs .tabs a {
	color:#333;
	cursor:default;
}
.kcml-wrap label {
	display:block;
	margin:.25em 0;
}
.edit-tags-php .kcml-wrap input.widefat {width:95%}
.edit-tags-php .form-field h4 {margin:0}

#poststuff .kcml-wrap h3 {padding:7px 0 15px;}
.kcml-languages {border-collapse:collapse}
.kcml-languages th {
	font-weight:bold;
	background-image:-moz-linear-gradient(center top , #f9f9f9, #ececec);
}
.kcml-languages td,
.kcml-languages th {
	background:#fff;
	border:1px solid #dfdfdf;
}
.kcml-languages td {padding:5px 10px;}

#menu-to-edit .kcml-wrap {padding-top:.5em;}
#menu-to-edit .kcml-wrap h3 {
	font-size:1em;
	margin:0 0 .5em;
}
.kcml-menu-names input {
	width:270px;
	margin-left:10px;
}
.kcml-post-meta h5 {margin-bottom:.75em}
.kcml-wrap .mceIframeContainer {background:#fff;}
#kcml-post-metabox ul.kcml-langs {padding:10px 0;}

.settings_page_kc-settings-kc_ml #lc {width:40%;}
.settings_page_kc-settings-kc_ml #name {width:15%;}
