#kc-metabox-settings_page_kc-settings-kc_ml h4 {margin:0 0 .75em}
#kc-metabox-settings_page_kc-settings-kc_ml .field {margin-bottom:2em}
#kc-metabox-settings_page_kc-settings-kc_ml li {margin-bottom:.15em}
#kc-metabox-settings_page_kc-settings-kc_ml label.fw {
	display:inline-block;
	min-width:130px;
}
#kc-metabox-settings_page_kc-settings-kc_ml span.description {margin-left:1em}

#kc-metabox-post-kcml th {display:none;}
.kcml-wrap .field {margin-bottom:12px}
ul.kcml-langs {
	display:inline-block;
	margin:0 0 .5em;
}
ul.kcml-langs li {
	display:inline;
	white-space:nowrap;
	border-right:1px solid #DFDFDF;
	margin-right:7px;
	padding-right:10px;
}
ul.kcml-langs li:last-child {border:0}
ul.kcml-langs a {text-decoration:none}
ul.kcml-langs .tabs a {
	color:#333;
	cursor:default;
}
.kcml-wrap label {
	display:block;
	margin:.25em 0;
}
.edit-tags-php .kcml-wrap input.widefat {width:95%}
.edit-tags-php .form-field h4 {margin:0}

#poststuff .kcml-wrap h3 {padding:7px 0 15px;}
